@font-face {
  font-family: "Inglobal";
  src: url("../assets/fonts/inglobal-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inglobal";
  src: url("../assets/fonts/inglobal-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inglobal";
  src: url("../assets/fonts/inglobal-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Inglobal";
  src: url("../assets/fonts/inglobal-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Archive";
  src: url("../assets/fonts/Archive-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
