:root {
  --color-primary: #ffcb05;
  --color-primary-dark: #e0b404;

  --color-secondary: #2f394b;
  --color-secondary-light: #dfe4ec;

  --color-bg-main: #ffffff;
  --color-bg-alt: #f2f3f7;

  --color-text-primary: #2f394b;
  --color-text-secondary: #a9b5ca;
  --color-text-inverse: #ffffff;

  --color-border: #dfe4ed;
  --color-shadow: rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16pt;
  color: var(--color-text-primary);
  background-color: var(--color-bg-main);
  min-width: 360px;
}

h1 {
  font-size: 21pt;
}

h2 {
  font-size: 16pt;
}

h3 {
  font-size: 12pt;
  color: var(--color-text-secondary);
}

p {
  font-size: 9pt;
}
